{% extends 'attendance/department/base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'attendance/department/css/orders.css'%}">
{% endblock%}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'attendance:departmentindex'%}">Home</a> </li>
    <li class="active">lecturers</li>
</ul>
    {% if message %}
        <div class="alert alert-success">
            <a href="#" data-dismiss="alert" aria-label="close" class="close">&times;</a>
            {{message}}
        </div>
    {% endif%}
    <div class="table-responsive-vertical">
     <table class="table table-condensed table-bordered table-striped table-hover">
          <caption>Lecturers</caption>
          <thead>
          <tr>
              <th>STAFF NUMBER</th>
              <th>FULL NAME</th>
          </tr>
          </thead>
          <tbody>
          {% for lecturer in lecturers%}
              <tr>
                  <td data-title="job-title">{{lecturer.staff_no}}</td>
                  <td data-title="order-id">{{lecturer.full_name}}</td>

              </tr>
          {% endfor%}
          </tbody>
          <tfoot>
          </tfoot>
     </table>
</div>
{% endblock %}