{% extends 'attendance/department/basepdf.html' %}
{% load static %}
{% block content %}
    <div class='details'>
        <span> Admission No: {{ adm }}</span><br/>
        <span>Name: {{ name }} </span><br/>
        <span>Academic Year: {{ year }} </span><br/>
        <span>Semester: {{ semester }}</span><br/>
        <span>Course: {{ course }} </span><br/>

        <span>Date: {{ today }}</span>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="thead" style="width: 20%">UNIT CODE</th>
                    <th class="thead"> UNIT NAME</th>
                    <th class="thead" style="width: 25%">PERCENTAGE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tdata">COM 323</td>
                    <td class="tdata"> INTRODUCTION TO ALGORITHMS</td>
                    <td class="tdata">90%</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}