{% extends 'attendance/lecturer/base.html' %}
{% load static %}
{% block header %}
    <script type="text/javascript" src="{% static 'attendance/js/department/filter.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'attendance/department/css/orders.css'%}">
{% endblock%}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data" class="col-lg-offset-4" style="margin-top: 5px">
        {% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
        <div class="fieldwrapper col-lg-12 col-md-12 form-group">
            {{field.label_tag}}
            {{field}}
            {{field.errors}}
            {% if field.help_text %}
              <p class="help">{{field.help_text}}</p>
            {% endif %}
        </div>
        {% endfor %}
        <div class="form-group col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-plus-circle"></i>
                Start Session
            </button>
        </div>
    </form>
{% endblock %}